header {
  display: flex;
  justify-content: center;
  align-items: center;
}
body
		{
		background-image: url("KaanBüfe.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		}
